.App {
  text-align: center;
}

.all-things {
  display: flex;
  flex-wrap: wrap;
}

.bubble {
  padding: 20px;
  border-radius: 100px;
}

a {
  text-decoration: none;
}

.text-note {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.note-title {
  font-weight: 200;
  font-size: 1.4em;
}

.note-body {
  padding-top: 15px;
  font-weight: 100;
}

/* improve mobile accessibility */

@media only screen and (max-width: 768px) {

  .bubble {
    font-size: 2.5em !important; /* overwrite inline styles */
  }

  .thoughtful-thoughts {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }

  .current-thought {
    font-size: 1.5em;
  }

  /*
    material design button
    thanks: https://codepen.io/sebj54/pen/oxluI
  */
  .btn {
    font-size: 2em;
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 12px 24px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2ecc71;
    color: #ecf0f1;
    transition: background-color .3s;
  }

  .btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
  }

  .btn.mossgreen {
    background-color: #9acd32;
  }

  .btn.mossgreen:hover, .btn.mossgreen:focus {
    background-color: #6b8e23;
  }

  .navback {
    font-size: 1.5em;
    background-color: white;
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100%;
  }

  .padding {
    height: 20px;
  }
}
